# ── SERVIDOR ──────────────────────────────
PORT=3000

# ── MySQL ─────────────────────────────────
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=tu_password_aqui
MYSQL_DATABASE=eduhub_db

# ── MongoDB Atlas ──────────────────────────
# Reemplaza <user>, <password> y <cluster> con tus datos de Atlas
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/eduhub_noticias?retryWrites=true&w=majority

# ── JWT ───────────────────────────────────
# Usa una cadena larga y aleatoria — nunca la compartas
JWT_SECRET=eduhub_super_secret_key_2026_konrad_lorenz
JWT_EXPIRES=24h

# ── CORS ──────────────────────────────────
# URL del frontend (en desarrollo usa *)
FRONTEND_URL=http://localhost:5500
